.app {
  max-width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav span {
  text-decoration: underline;
  margin-right: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.container {
  margin: auto;
  margin-top: 20px;
}
